/*==========  Desktop First Method  ==========*/


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px){
	.menu_desktop{
		display: none;
	}
	.page__header,
	.page__content,
	.page__footer{
		min-width: 100%;
	}
	.page__header{
		padding-top: 45px;
	}
	.page_header_home{
		min-height: initial;
	}
	.photo_main{
		position: static;
		max-width: 400px;
		display: block;
		margin-bottom: 10px;
	}
	#layout.active {
    position: relative;
    right: 150px;
  }
  .contacts{
  	text-align: center;	
  }
	
}
@media only screen and (max-width: 992px) and (orientation: landscape){
}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) and (orientation: portrait){
	html{
		font-size: 7px;
	}
	a,p,h3{
		font-size: 2rem;
	}
	
	.header__title{
		display: none;
	}
}
@media only screen and (max-width: 768px){
	.photo_services{
		display: none;
	}
	.services{
		padding-left: 10px;
	}
}

@media only screen and (max-width: 620px) and (orientation: portrait){
	.logo{
		width: 100%;
		text-align: center;
	}
	.logo img{
		max-width: 100%;
		width: 300px;
	}
	.photo_main{
		max-width: 300px;
		margin-top: -65px;
	}
}
/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) and (orientation: portrait){
	.header__caption{
		display: none;
	}
}


/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) and (orientation: portrait){
	.contacts__header{
		padding-bottom: 10px;
	}
}


/*==========  Mobile First Method  ==========*/


/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
	.menu__link_slide,
	#menu_slide{
		display: none;
	}
	.page__header,
	.page__content,
	.page__footer{
		min-width: 96rem;	
		width: 96rem;
	}
	.photo_main{
		width: 900px;
		top:-5%;
	}
}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {}