/*==========  Desktop First Method  ==========*/


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px){
	.menu_desktop{
		display: none;
	}
	.page__header,
	.page__content,
	.page__footer,
	.contacts_page{
		min-width: 100%;
	}
	.page__header{
		padding-top: 50px;
	}
	.page_header_home{
		min-height: initial;
	}
	.photo_main{
		position: static;
		max-width: 400px;
		display: block;
		transform: translateX(10%);
	}
	#layout.active {
    position: relative;
    left: 150px;
  }
  .contacts{
  	text-align: center;	
  }
	.pure-form input[type=text], 
	.pure-form-aligned textarea{
		margin: auto;
	}
	.hidden-xs{
		display: none !important;
	}
	.services_xl{
		min-height: 90vh; 
	}
	.logo_xs{
		background-color: rgba(28, 35, 39, 0.9);
		justify-content: flex-start;
	}
}
@media only screen and (max-width: 992px) and (orientation: landscape){
}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) and (orientation: portrait){
	html{
		font-size: 7px;
	}
	a,p,h3{
		font-size: 2rem;
	}
	
	.header__title{
		display: none;
	}
}
@media only screen and (max-width: 768px){
	.photo_services{
		display: none;
	}
	.services{
		padding-left: 10px;
	}
}

@media only screen and (max-width: 620px) and (orientation: portrait){
	.logo img{
		max-width: 100%;
		width: 240px;
	}
	.logo{
		min-width:75%;
		text-align: center; 
	}
	.photo_main{
		max-width: 300px;
		margin-top: -65px;
	}
}
/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) and (orientation: portrait){
	.header__caption{
		display: none;
	}
}


/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) and (orientation: portrait){
	.contacts__header{
		padding-bottom: 10px;
	}
	.photo_main{
		max-width: 250px;
		margin-top: -65px;
	}
	.logo img{
		max-width: 100%;
		width: 210px;
	}
	.contacts__banner,
	.contacts__banner .contacts__phone,
	.contacts__banner .contacts__button{
		display: block;
		margin: 10px auto;
	}
	
}


/*==========  Mobile First Method  ==========*/


/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
	.menu__link_slide,
	#menu_slide{
		display: none;
	}
	.page__header,
	.page__content,
	.page__footer{
		min-width: 96rem;	
		width: 96rem;
	}
	.photo_main{
		width: 900px;
		top:-5%;
	}
}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {}